table{
    width               : 99%;
    height              : 80%;
    position            : absolute;
}

.upper_half{
    width               : 50%;
    height              : 100%;
}

#term_demo{
    width               : 100%;
    height              : 100%;
}

img{
    max-width           : 100%;
    height              : 60%;
    display             : block;
}

#note{
    width               : 100%;
    height              : 100%;
    color               : white;
    font-family         : Tahoma;
}

a{
    color               : white;
    text-decoration     : none; 
    font-family         : Tahoma;
}

footer{
    position            : absolute;
    bottom              : 0;
    color               : white;
    font-family         : Tahoma;
    width               : 99%;
}

hr{
    width               : 100%;
}